.bg-gray{
background-color: #dedede;
}
.cursor-pointer{
	cursor: pointer;
}
.bg-purple{
background-color: #9b1fe9;
}
.text-purple{
color: #9b1fe9;
}
.text-gray-50{
color: #686868;
}
.bg-blue-10{
	background-color: #EEF2FE;
}

/* banner section style  */
.logo{
	text-decoration: none;
	color: #9b1fe9;
	font-size: 30px;
	font-weight: 600;
}
.logo:hover{
	color: #9b1fe9;
}
.nav-icon{
	width: 25px;
}
.input-outline-none{
	outline: none;
}
.list-style-none{
	list-style: none;
}